body{
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
               
}

.bluebg{
    background-color: #3c7aaf;
}

.border{
	border-radius: 15px;
}

img {
    width: 100%;
    height: auto;
}

i{
    color: white;
    font-size: 2em;
}

.centerInformation{
	text-align: center;
}

form.registrationForm label.error, label.error {
    color: red;
}
